<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="timbanganJamurKlaten.My.MySettings.timbanganConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=timbangan"
            providerName="MySql.Data.MySqlClient" />
        <add name="timbanganJamurKlaten.My.MySettings.timbanganConnectionString1"
            connectionString="server=localhost;user id=root;password=arief;persistsecurityinfo=True;database=timbangan"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>